#card{
    position: relative;
}

#card:hover  {
    content: 'Hi';
    opacity: 0.5;
}
#card:hover::after  {
    content: url('../../../public/next.svg');
    position: absolute;
    top: 0;
    background-color: black;
    /* background-image: url('../../../public/next.svg') */
}